*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans';
}
p{
  line-height: 30px;
  color: #4F4F4F;
}
.dis__cla{
  line-height: 21px !important;
}
:root {
    --blue-color: #0074DF;
    --light-blue:  #E2F3FF;
    --dark-black-color: #000000;
    --light-black-color:#555555;
    --green-color:#ECFFF4;
    --red-color:#FFFCE5;
  }
  .text-primary{
    color:var(--blue-color) !important;
  }
  .bg-green{
    background-color: var(--green-color);
  }
  .bg-red{
    background-color: var(--red-color);
  }
  .fb-500{
    font-weight: 500;
  }
  .fb-600{
    font-weight:600;
  }
  .fb-700{
    font-weight: 700;
  }
  .fn-10{
    font-size: 10px;
  }
  .fn-12{
    font-size: 12px;
  }
  .fn-14{
    font-size: 14px;
  }
  .fn-18{
    font-size: 18px;
  }
  .fn-28{
    font-size: 28px;
  }
  tr:nth-child(even) {background-color: #F4F4F4 !important;}
 .card{
  border: none;
  border-radius: 0;
  box-shadow: 0px 2px 5px grey;
 }
.tb1{
  background-color: var(--light-blue);
  color:var(--blue-color)
}
  .slider__blog1{
        width: 100%;
        height:80vh;
        background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("../image/blog1.png");
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
  }

  .container__box{
    width: 90%;
    margin: 0 auto;
  }
.wrapper__box{
  width: 90%;
  
}
  .blog__box{
    margin-top: 30px;
    width: 100%;
    display: flex;
  
    

  }
  .blog__content__left{
    width: 70%;
    /* background-color: #0074DF; */
    padding: 10px;
  }
  .blog__content__right{
    width: 30%;
    /* background-color: #68747e; */
    margin-top: 15px;
    height: 500px;
    position: sticky !important;
    top:50px;    
  }
  .blog__content__right ul{
    list-style-type: none;
    
  }
  .blog__content__right ul li{
    margin: 5px 0;
    font-size: 18px;
  }
  .blog__content__right ul li a{
    
    
    color:#000000
  }

  .blog__content__left .date__text{
    color:var(--light-black-color)
  }
  .blog__content__left .date__text span{
    color: var(--dark-black-color);
  }
  .blog__content__left .head_text{
    font-size: 64px;
    font-weight: 600;
  }
.written_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.written_left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.written_left__img{
  position: relative;
}

.img2{
  position: absolute;
 left: -20px;
 z-index: -1;
  

}
.imgtables tr td{
  width: 150px;
  /* border:  none !important; */
}
.tablesize tr td{
  min-width: 180px !important;
}
.imgtable {
 
  background-color: var(--light-blue);
  text-align: center;
}
.tableimg{
  width: 100px;
height: 250px;

}
.btn-round{
  background-color: var(--blue-color);
  color:white;
  border-radius: 30px;
  font-size: 12px;
}
.btn-round:hover{
  color:white;
}


.imgfloat img{
  width: 250px;
  height: 300px;
  float: left !important;
margin: 10px;

}
.card__box{
  display: flex;
  
}

.card__box .card__box__left{
  width: 50%;
  padding: 10px;
  

}

.card__box .card__box__right{
  width: 50%;
  padding: 10px;
}

.addimg{
  width: 100%;
  height: 180px;
}
.addimg1{
  width: 80%;
  height: 200px;
  display: block;
  margin: auto;
}

.btn-sque{
  background-color: var(--blue-color);
  color:white;
  border: none;
  border-radius: 0;
  width: 150px;
  margin: 2px;
  height: 40px;
}
.btn-outline-sque{
  border-radius: 0;
  margin: 2px;
  border: 2px solid var(--blue-color);
  height: 40px;
  width: 70px;


}
.btn-sque:hover{
  color:white;
}
.img-big{
  width: 100%;
  
}
.linkedinimg{
  width: 100px;
  display: block;
  margin: auto;
}
.roungbig{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.img-4{
  width: 100px;
  display: block;
  margin: auto;
  
}



.smll_img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  display: block;
  margin: auto;
}
.inner_box{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.con_col{
  color:#0074DF;
}






.sm_img{
  width: 100%;
  height: 250px !important;
  object-fit: cover;
}




  @media (max-width:1040px) {
    .blog__content__left .head_text{
        font-size: 55px;
    }
    .inner_box{
      flex-direction: column;
    }
    
  }

  
  @media (max-width:900px) {
    .blog__content__left .head_text{
        font-size: 45px;
    }
    
  }

  @media (max-width:750px) {
    .blog__box{
      flex-direction: column-reverse;
    }
    .blog__content__right{
      
      position:unset !important;
         
    }
    .blog__content__left{
        width: 100%;
    }

    .blog__content__right {
        width: 100%;
    }
    .wrapper__box{
      width: 100%;
    }
    .container__box{
      width: 95%;
    }
  }

  @media (max-width:500px) {
    .imgfloat img{
      width: 100%;
     clear: both;
    }

    .head_text{
      font-size: 40px !important;
    }
    .blog__content__right{
      height: auto;
      margin-bottom: 20px;
    }
    
  }

@media (max-width:400px) {
  .written_box{
    display: flex;
  justify-content:left;
  align-items:flex-start;
  flex-direction: column;
  }
  .head_text{
    font-size: 30px !important;
  }
}



















  .panel{
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(110,130,218,0.18);
}

.panel-default > .panel-heading {
  background-color: transparent;
  border: medium none;
  border-radius: 0;
  color: inherit;
  padding: 0;
  position: relative;
}    
.panel-heading .panel-title > a {
  /* background-color:#f74a61; */
  border: medium none;
  color: #000000;
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 28px;
  padding: 7px 25px 7px 7px;
  font-size: 16px;
  word-wrap: break-word;
}
    
.panel-heading .panel-title > a::after {
  bottom: 0;
  content: "▲";
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 48px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 33px;
}  
.panel-heading .panel-title > a.collapsed::after {
  content: "▼";
}    
.panel-body{
  height:auto;
  background-color: var(--light-blue);
}
.panel-title a{
    text-decoration: none;
}